
table{
    border-collapse: collapse;
    width: 80%;
}
th{
    text-align: center;
    padding: 8px;
}
td{
    height: 50px;
    text-align: center;
    padding: 8px;
}
img{
    height: 100px;
    width: auto;
}